@charset "UTF-8";

body {
    background-color: aqua;
}

a {
    text-decoration: none;
    background-color: black;
    color: aliceblue;
    padding: 10px;
    font-size: 20;
    border-radius: 10px;
    box-shadow: 2px 2px 2px black;
}

a:hover {
    background-color: aliceblue;
    color: black;
}

p::first-letter {
    font-size: 3em;

}

